.home-container-1 {
  min-height: 100vh;
  max-width:  1250px;/*1500*/
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0% auto;
}
 
.home-container-2 {
  max-width: 1100px; /*1350*/
  width: calc(100% - 164px);
  padding: 24px;
  box-sizing: border-box;
}
